body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/******************FONTS******************/
/*
@font-face {
  font-family: 'Avenir';
  src: url("fonts/AvenirLTProMedium.otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url("fonts/AvenirLTStd-Book.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url("fonts/AvenirLT-LightOblique.ttf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Avenir';
  src: url("fonts/AvenirLT-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url("fonts/AvenirNextLTProUltraLight.ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir';
  src: url('AvenirLTPro-Medium.eot');
  src: url('AvenirLTPro-Medium.eot?#iefix') format('embedded-opentype'),
      url('AvenirLTPro-Medium.woff2') format('woff2'),
      url('AvenirLTPro-Medium.woff') format('woff'),
      url('AvenirLTPro-Medium.ttf') format('truetype'),
      url('AvenirLTPro-Medium.svg#AvenirLTPro-Medium') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Avenir';
  src: url('AvenirLT-Light.eot');
  src: url('AvenirLT-Light.eot?#iefix') format('embedded-opentype'),
      url('AvenirLT-Light.woff2') format('woff2'),
      url('AvenirLT-Light.woff') format('woff'),
      url('AvenirLT-Light.ttf') format('truetype'),
      url('AvenirLT-Light.svg#AvenirLT-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}*/
@font-face {
  font-family: 'Calibri Mac';
  src: url('fonts/Calibri.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Calibri Mac';
  src: url('fonts/Calibri-Bold.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/******************HEADER BAR******************/
.bar {
  position: fixed;
  top: 30px;
  left: 50px;
}
.logo {
  color: white;
  font-family: 'Calibri', 'Calibri Mac', sans-serif;
  font-size: 30px;
  letter-spacing: -3px;
}
.contact {
  position: fixed;
  top: 30px;
  right: 60px;
  z-index: 999;
}
.contact a {
  display: block;
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}
.contact a:hover {
  color: rgb(242, 196, 206);
}
.fa-linkedin-in {
  font-size: 22px;
}
.x {
  display: block;
  color: white;
  font-family: 'Calibri', 'Calibri Mac', sans-serif;
  font-size: 40px;
  margin-bottom: 20px;
  background-color: transparent;
  padding: 0 2px;
  border: 0px;
  outline: none;
  cursor: pointer;
  transform: rotate(45deg);
  transition: transform 200ms cubic-bezier(0.33, 1, 0.68, 1);
  transform-origin: 50% 50%;
}
.x.active {
  transform: rotate(0deg);
  transition: transform 200ms cubic-bezier(0.33, 1, 0.68, 1);
  transform-origin: 50% 50%;
}
/******************SCROLLBAR******************/
html::-webkit-scrollbar {
  display: none;
}
html {
  /*-ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  scrollbar-base-color: rgb(242, 196, 206);
  scrollbar-face-color: rgb(242, 196, 206);
  scrollbar-3dlight-color: rgb(242, 196, 206);
  scrollbar-highlight-color: rgb(242, 196, 206);;
  scrollbar-track-color: black;
  scrollbar-arrow-color: black;
  scrollbar-shadow-color: rgb(242, 196, 206);;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: black; 
}
::-webkit-scrollbar-thumb {
  background: rgb(255, 175, 173); 
  background: -webkit-gradient(linear,left top,left bottom,from(rgb(255, 175, 173)),to(rgb(242, 196, 206)));
  background: linear-gradient(180deg,rgb(255, 175, 173),rgb(242, 196, 206));
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 175, 173); 
}
/******************CONTACT FORM******************/
#contact_form {
  display: none;
  background-color: rgba(0, 0, 0, .92);
  position: fixed;
  z-index: 998;
  left: 0;
  top: 0;
}
#contact_form .content {
  display: block;
  position: relative;
  top: 12%;
  width: 500px;
  margin: 0 auto;
}
h10 {
  display: block;
  font-family: 'Calibri', 'Calibri Mac', sans-serif;
  font-weight: 600;
  font-size: 70px;
  line-height: 70px;
  color: rgb(242, 196, 206);
  margin-bottom: 20px;
}
#contact_form p {
  color: rgb(220, 220, 220);
  margin-bottom: 50px;
}
form {
  margin: 0 auto;
  width: 100%;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
label {
  position: absolute;
  display: inline-block;
  color: rgb(50, 50, 50);
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  padding-top: 14px;
  padding-left: 16px;
}
label:hover {
  cursor: text;
}
input, textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  padding: 14px;
  box-sizing: border-box;
  border: 0px;
  border: 2px solid black;
}
input:hover, textarea:hover, input:focus, textarea:focus {
  border: 2px solid rgb(242, 196, 206);
}
#name, #mail {
  display: inline-block;
  width: 230px;
}
textarea {
  vertical-align: top;
  height: 12em;
  width: 480px;
  margin-bottom: 30px;
}
.button {
  padding: 0 170px;
  margin-bottom: 0;
}
#contact_form button {
  margin-left: .5em;
  width: 110px;
  height: 30px;
  background-color: rgb(242, 196, 206);
  font-family: 'Calibri', 'Calibri Mac', sans-serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
li img {
  width: 150px;
  height: 60px;
  padding: 0 155px;
}
/******************BUTTON UP******************/
.footer button {
  display: block;
  position: relative;
  background-color: transparent;
  padding: 0;
  border: 0px;
  outline: none;
  cursor: pointer;
  z-index: 999;
  margin: 0 auto;
  top: 80px;
  opacity: 0.6;
}
/******************COLORS******************/
.darkgray { 
  background-color: black;
}
.lightgray {
  background-color: rgb(52, 51, 57);
}
.lightpink {
  background-color: rgb(242, 196, 206);
}
/******************FORMATTING******************/
section {
  width: 100vw;
  height: 100vh;
  margin: 0;
}
.opening {
  background-color: black;
  /*background-image: url("assets/opening.gif");*/
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}
video {
  display: block;
  margin: auto;
  /*height: 100%;
  width: 177.77777778vh;
  max-width: 100%;
  max-height: 56.25vw;*/
}
.bio {
  background-color: black;
  height: 800px;
}
.skills {
  height: 100vh;
  background-color: black;
  height: 800px;
}
.portfolio {
  height: 70vh;
  background-color: black;
  height: 800px;
}
.projects {
  height: 150vh;
  background-color: black;
  height: 1200px;
}
.honorable_mentions {
  height: 110vh;
  background-color: black;
  height: 800px;
}
.footer {
  height: 35vh;
  background-color: rgb(242, 196, 206);
  height: 270px;
}
.bio .content {
  position: relative;
  display: block;
  top: 15%;
  padding-right: 500px;
  margin: 0 auto;
  width: 525px;
}
.skills .content {
  position: relative;
  display: block;
}
.portfolio .content {
  position: relative;
  display: block;
  top: 25%;
  z-index: 3;
}
.portfolio .content_background {
  position: relative;
  display: block;
  z-index: 1;
}
.projects .content {
  position: relative;
  display: block;
  top: 50px;
}
.honorable_mentions .content {
  position: relative;
  display: block;
  top: 7%;
}
.footer .content {
  position: relative;
  display: block;
  top: 20%;
}
.bio button {
  background-color: transparent;
  padding: 0;
  border: 0px;
  outline: none;
  cursor: pointer;
}
.bio img {
  position: absolute;
  width: 450px;
  height: 350px;
  top: 120px;
  left: 580px;
  opacity: 0.2;
}
.bio img.active {
  opacity: 1;
  transition: opacity 15s 15s linear;
}
.skills h2 {
  z-index: -1;
}
.skills .wrapper {
  display: grid;
  z-index: 1;
  width: 1000px;
  grid-template-columns: [col1] 250px [col2] 250px [col3] 250px [col4] 250px;
  grid-template-rows: [row1] 200px [row2] 50px [row3] 80px [row4] 100px;
  margin-top: -150px;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills .box img {
  width: 100%;
  opacity: 0;
}
.skills .box .icon {
  transform: translatey(5rem);
}
.skills .box img.active {
  opacity: 1;
  transform: translatey(0rem);
  transition: transform 1000ms cubic-bezier(0.33, 1, 0.68, 1), opacity 300ms 400ms linear;
}
.skills .box .div.active {
  transition-delay: 500ms;
}
.skills .box .semicolon.active {
  transition-delay: 900ms;
}
.skills .box .brain.active {
  transition-delay: 700ms;
}
.skills .box .airplane.active {
  transition-delay: 1100ms;
}
.skills .shadow img {
  height: 140%;
  opacity: 1;
}
.skills .box2 img {
  height: 70%;
  width: auto;
}
.skills .box4 img {
  width: 90%;
}
.skills .box5 img {
  width: 90%;
}
.skills .box6 img {
  width: 50%;
}
.skills .box7 img {
  width: 60%;
}
.skills .box8 img {
  width: 80%;
}
.portfolio .wrapper {
  position: relative;
  display: grid;
  z-index: 1;
  width: 900px;
  grid-template-columns: [col1] 650px [col2] 250px;
  grid-template-rows: [row1] 330px [row2] 50px;
}
.portfolio .box1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.portfolio .arrow {
  height: 330px;
  width: auto;
  transform: translatey(-10rem);
  opacity: 0;
}
.portfolio .arrow.active {
  opacity: 1;
  transform: translatey(0rem);
  transition: transform 1200ms cubic-bezier(0.33, 1, 0.68, 1), opacity 300ms 400ms linear;
  transition-delay: 300ms;
}
.portfolio .shadow {
  width: 220px;
  z-index: 1;
  opacity: 0;
}
.portfolio .shadow.active {
  width: 240px;
  z-index: 1;
  opacity: 1;
  transition: opacity 1000ms 400ms linear;
  transition-delay: 300ms;
}
.projects .wrapper {
  display: grid;
  z-index: 1;
  width: 980px;
  grid-template-columns: [col1] 260px [col2] 400px [col3] 260px;
  grid-template-rows: repeat(2, 500px);
  column-gap: 30px;
  margin-top: 80px;
}
.projects .text {
  position: relative;
  top: 20%;
}
.projects img {
  width: 400px;
  opacity: 0;
  transform: translatey(-5rem);
}
.projects .zombie.active, .projects .pulseox.active {
  opacity: 1;
  transform: translatey(0rem);
  transition: transform 900ms cubic-bezier(0.33, 1, 0.68, 1), opacity 300ms 400ms linear;
  transition-delay: 300ms;
}
.projects .shadow {
  height: 100px;
  margin-top: -40px;
  transform: translatey(0rem);
}
.projects .shadow.active {
  opacity: 1;
  transform: translatey(0rem);
  transition: opacity 300ms 400ms linear;
  transition-delay: 300ms;
}
.honorable_mentions .wrapper {
  position: relative;
  display: grid;
  z-index: 1;
  width: 890px;
  grid-template-columns: [col1] 230px [col2] 230px [col3] 230px;
  grid-template-rows: [row1] 200px [row2] 200px;
  column-gap: 100px;
  row-gap: 70px;
  margin-top: 80px;
}
.honorable_mentions button {
  background-color: transparent;
  padding: 0;
  border: 0px;
  outline: none;
  cursor: pointer;
}
.footer .wrapper {
  position: relative;
  display: grid;
  z-index: 1;
  width: 950px;
  grid-template-columns: [col1] 250px [col2] 230px;
  grid-template-rows: [row1] 100px [row2] 30px;
  column-gap: 470px;
  row-gap: 20px;
}
.footer .box {
  display: flex;
  align-items: flex-end;
  justify-content: start;
}
.footer img {
  width: 80px;
}
/******************TEXT******************/
h1 {
  color: white;
  font-family: 'Calibri', 'Calibri Mac', sans-serif;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  margin-bottom: 30px;
}
p {
  color: rgb(255, 255, 255);
  font-family: 'Nunito', serif;
  font-weight: 200;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}
.italics {
  font-style: italic;
}
.chat {
  display: block;
  color: rgb(242, 196, 206);
  /*color: white;*/
  font-family: 'Calibri', 'Calibri Mac', sans-serif;
  font-weight: 600;
  font-size: 35px;
  text-decoration: underline;
  margin-top: 60px;
}
h2 {
  color: white;
  font-family: 'Calibri', 'Calibri Mac', sans-serif;
  font-size: 400px;
  letter-spacing: -20px;
  line-height: 450px;
  text-align: center;
  margin: 0;
  top: 5%;
}
h3 {
  color: white;
  font-family: 'Calibri', 'Calibri Mac', sans-serif;
  font-size: 28px;
  line-height: 28px;
  text-align: center;
  margin: 0;
}
.box p {
  display: block;
  color: rgb(217, 217, 217);
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  align-self: start;
  width: 80%;
}
h4 {
  display: inline-block;
  color: white;
  font-family: 'Calibri', 'Calibri Mac', sans-serif;
  font-size: 300px;
  letter-spacing: -10px;
  line-height: 50px;
  text-align: right;
  margin: 0;
}
h5 {
  display: block;
  color: white;
  font-family: 'Calibri', 'Calibri Mac', sans-serif;
  font-size: 50px;
  line-height: 70px;
  text-align: center;
  font-weight: 600;
  margin: 0;
}
p.subhead {
  font-size: 14px;
  text-align: center;
  color: rgb(217, 217, 217);
}
h6 {
  color: white;
  text-align: center;
  font-family: 'Calibri', 'Calibri Mac', sans-serif;
  font-size: 25px;
  line-height: 20px;
  margin: 0;
}
.projects p {
  text-align: center;
  font-size: 13px;
}
.projects .descrip {
  color: white;
  font-family: 'Calibri', 'Calibri Mac', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  margin-bottom: 5px;
}
h8 {
  display: block;
  color: white;
  font-family: 'Calibri', 'Calibri Mac', sans-serif;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
  font-weight: 600;
  margin: 0;
  margin-bottom: 10px;
}
.honorable_mentions p {
  display: block;
  color: rgb(217, 217, 217);
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  margin-bottom: 15px;
}
.honorable_mentions .pink {
  color: rgb(242, 196, 206);
}
.honorable_mentions .letschat {
  display: block;
  color: rgb(242, 196, 206);
  font-family: 'Calibri', 'Calibri Mac', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  /*text-decoration: underline;*/
  border-bottom: 2px rgb(242, 196, 206) solid;
  width: 65px;
  margin: 0 auto;
}
h9 {
  display: block;
  font-family: 'Calibri', 'Calibri Mac', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: rgb(44, 43, 48);
  margin-bottom: 10px;
}
.footer p {
  color: black;
  font-size: 14px;
  line-height: 18px;
}
.footer a {
  color: black;
}
.footer .quote {
  font-family: 'Calibri', 'Calibri Mac', sans-serif;
  font-size: 13px;
  font-weight: 600;
}
.footer .left {
  text-align: left;
}
.footer .right {
  text-align: right;
}
.footer .bold {
  font-weight: 700;
}
.footer .small {
  font-size: 11px;
}
.underline {
  text-decoration: underline;
}
.footer .quotation_mark {
  font-family: 'Times New Roman', serif;
  font-size: 50px;
  letter-spacing: -4px;
  line-height: 12px;
  z-index: -1;
}
/* IE EXPLORER FORMATTING*/
.skills .wrapper {
  display: -ms-grid;
  -ms-grid-columns: 250px 250px 250px 250px;
  -ms-grid-rows: 200px 50px 80px 100px;
}
.skills .box1 {
  -ms-grid-column: 1;
  -ms-grid-row: 1;
}
.skills .box2 {
  -ms-grid-column: 2;
  -ms-grid-row: 1;
}
.skills .box3 {
  -ms-grid-column: 3;
  -ms-grid-row: 1;
}
.skills .box4 {
  -ms-grid-column: 4;
  -ms-grid-row: 1;
}
.skills .box5 {
  -ms-grid-column: 1;
  -ms-grid-row: 2;
}
.skills .box6 {
  -ms-grid-column: 2;
  -ms-grid-row: 2;
}
.skills .box7 {
  -ms-grid-column: 3;
  -ms-grid-row: 2;
}
.skills .box8 {
  -ms-grid-column: 4;
  -ms-grid-row: 2;
}
.skills .box9 {
  -ms-grid-column: 1;
  -ms-grid-row: 3;
}
.skills .box10 {
  -ms-grid-column: 2;
  -ms-grid-row: 3;
}
.skills .box11 {
  -ms-grid-column: 3;
  -ms-grid-row: 3;
}
.skills .box12 {
  -ms-grid-column: 4;
  -ms-grid-row: 3;
}
.skills .box13 {
  -ms-grid-column: 1;
  -ms-grid-row: 4;
  align-items: flex-start;
}
.skills .box14 {
  -ms-grid-column: 2;
  -ms-grid-row: 4;
  align-items: flex-start;
}
.skills .box15 {
  -ms-grid-column: 3;
  -ms-grid-row: 4;
  align-items: flex-start;
}
.skills .box16 {
  -ms-grid-column: 4;
  -ms-grid-row: 4;
  align-items: flex-start;
}
.portfolio .wrapper {
  display: -ms-grid;
  -ms-grid-columns: 650px 250px;
  -ms-grid-rows: 330px 50px;
}
.portfolio .box1 {
  -ms-grid-column: 1;
  -ms-grid-row: 1;
}
.portfolio .box2 {
  -ms-grid-column: 2;
  -ms-grid-row: 1;
}
.portfolio .box4 {
  -ms-grid-column: 2;
  -ms-grid-row: 2;
}
.projects .wrapper {
  display: -ms-grid;
  -ms-grid-columns: 260px 30px 400px 30px 260px;
  -ms-grid-rows: 500px 500px;
}
.projects .box1 {
  -ms-grid-column: 1;
  -ms-grid-row: 1;
}
.projects .box2 {
  -ms-grid-column: 3;
  -ms-grid-row: 1;
}
.projects .box3 {
  -ms-grid-column: 3;
  -ms-grid-row: 2;
}
.projects .box4 {
  -ms-grid-column: 5;
  -ms-grid-row: 2;
}
.honorable_mentions .wrapper {
  display: -ms-grid;
  -ms-grid-columns: 230px 100px 230px 100px 230px;
  -ms-grid-rows: 200px 70px 200px;
}
.honorable_mentions .box1 {
  -ms-grid-column: 1;
  -ms-grid-row: 1;
}
.honorable_mentions .box2 {
  -ms-grid-column: 3;
  -ms-grid-row: 1;
}
.honorable_mentions .box3 {
  -ms-grid-column: 5;
  -ms-grid-row: 1;
}
.honorable_mentions .box4 {
  -ms-grid-column: 1;
  -ms-grid-row: 3;
}
.honorable_mentions .box5 {
  -ms-grid-column: 3;
  -ms-grid-row: 3;
}
.honorable_mentions .box6 {
  -ms-grid-column: 5;
  -ms-grid-row: 3;
}
.footer .wrapper {
  display: -ms-grid;
  -ms-grid-columns: 250px 470px 230px;
  -ms-grid-rows: 100px 20px 30px;
}
.footer .box1 {
  -ms-grid-column: 1;
  -ms-grid-row: 1;
}
.footer .box2 {
  -ms-grid-column: 3;
  -ms-grid-row: 1;
}
.footer .box3 {
  -ms-grid-column: 1;
  -ms-grid-row: 3;
}
.footer .box4 {
  -ms-grid-column: 3;
  -ms-grid-row: 3;
}
/* END */